body {
    max-height: 100vh;
}

.up-section {
    border: 1px black solid;
    text-align: center;
    height: 30px;
}
/* this is the nav bar */
.nav{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    height: 30px;
}

.nav-button-group{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
/* this is the button group */
li {
    display: inline-block;
}

.hero {
    border: 1px black solid;
    text-align: center;
    height: 180px;
    background-image: url(./images/banner.jpeg);
}

.main-section {
    border: 1px black solid;
    text-align: center;
    height: 8110x;
}

.footer {
    border: 1px black solid;
    text-align: center;
    height: 80px;
}